<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Document</title>
</head>
<body>
    <script src="/static/main.js"></script>
    <h1>Привет! Это главная страница из файла.</h1>
    <form action="/reg" method="get">
    <button onclick="sayHello()" type="submit" class="reg-but">Перейти к регистрации</button>
</form>

<form action="/login" method="get">
    <button  onclick="sayHello()" type="submit" class="log-but">Перейти к логину</button>
</form>
    
</body>
</html>