<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <form action="/send" method="post" class="reg-form">
    <h2>Регистрация</h2>
    Логин: <input name="login" required minlength="3"><br>
    Пароль: <input type="password" name="password" required minlength="8"><br>
    Номер телефона: <input name="phone"><br>
    Электронная почта: <input type="email" name="Gmail" required><br>
    
    <input type="submit" value="Зарегистрироваться" class="submit-btn">
    
    <br><a href="/login">Уже есть аккаунт? Войти</a>
</form>
</body>
</html>
